
<a id="advice-button" class="label label-info" >See All Advice</a>

<br>

<div class="row col-xs-12">
  <div id="advice-list" class="list-hide">
    <%= render "partials/advice_list", messages: @messages %>
  </div>
</div>

<%= render "partials/base_message_template" %>

