<%= render 'partials/nav' %>

<p>We here at <em>TribalDev</em> know how hard it is to make important choices, so why not let us do that for you.</p> 
<p>Think of your question and shake the ball for an answer.</p>
<h1>Here is your much needed advice!</h1>
<%= render "partials/ball", inside: @message %>
