<div>
  <table class="table">
    <tr>
      <th>advice</th>
      <th>author</th>
      <th>vote count</th>
    </tr>
    <% messages.each do |m| %>
        <%= render "partials/message_list", message: m %>
    <% end %>
  </table>
</div>
