<% inside ||= false %>

<div class="get_message block col-xs-12 col-md-6 col-center" id = "toggle" href="<%= message_path(random_message) %>" >
  <div class="centering col-center col-xs-12 col-md-6" id="shake_button">
    <% if inside %>
      <div>
        <p><%= inside.advice %></p>
        <p class="author">by <%= inside.author %></p>
      </div>
    <% else %>
      <p class="col-center">"Shake the ball!" </p>
    <% end %>
  </div>
</div>
