<% if obj.errors.any? %>
  <div class="alert alert-danger">
    <h4>Please fix the following errors</h4>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
