<header>
  <ul>
    <li>
      <%= link_to "Home", messages_path %>
    </li>
    <li>
      <%= link_to "Shake the frickin ball", message_path(random_message), class: "get_message" %>
    </li>
  </ul>
</header>
