<br>

<div class="row col-xs-12 col-md-6">
  <button class="btn" id="advice_button">
    Check out the advice from our users
  </button>
  <br>
  <div id="advice_list" class="list-hide">
    <%= render "partials/advice_list", messages: @messages %>
  </div>
</div>
