<table class="user-index">
  <tr>
    <th>
      Name
    </th>
    <th>
      Advice<br> Contribution
    </th>
    <th>
      Vote<br> Count
    </th>
  </tr>
<% @users.each do |u| %>
  <tr>
    <td id="user-name">
      <%= link_to u.name, user_path(u) %>
    </td>
    <td>
      <%= u.messages.size %>
    </td>
    <td>
      <%= u.vote_count %>
    </td>
  </tr>
<% end %>
</table>
