.block {
  background-color: black;
  border-radius: 50%;
  max-width: 400px;
  min-width: 400px;
  max-height: 400px;
  min-height: 400px;

  padding-top: 100px; 
  padding-left: 100px; 
}

.centering {
  background-color: white;
  border-radius: 50%;
  min-height: 200px;
  max-height: 200px;
  min-width: 200px;
  max-width: 200px;

  padding-top: 50px; 
  padding-left: 50px; 
}

.col-center{
  margin:0 auto;
}

.author {
  color: red;
}
.button {
  text-align: center;
  margin:0 auto;
}

.list-hide {
  display: none;
}
